.collections-logo{
    height: 120px;
}
.collections{
    font-family: "Lato";

}
.collections h1{
    font-style: italic;
    font-weight: 600;
}
.card-div{
    width: 320px !important;
}
.card img{
    
}
.card-div p{
    font-size: 14px;
}
.blue-m-bg-div{
    background-color: #00AEEF;
    width: 100px;
    height: 42px;
    

}
.pink-m-bg-div{
    background-color: #EC008C;
    width: 100px;
    height: 42px;
    position: absolute;
 
     top: 23%  !important;
    left:2.5%;
    z-index: 1;
    
}
.black-m-bg-div{
    background-color: #231F20;
    width: 100px;
    height: 42px;
    position: absolute;
   
    left:1.3%;
    top:12%;
    bottom: -20%;
    z-index:11;
    

}
@media screen and (max-width: 400px){
    .card-div{
        width: 300px !important;
    }
    

}